html,body{
    height: 100%;
    margin: 0;
    background: #CCCCCC;
}

button{
    margin:0;
    border: 0;
    padding: 6px 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;                                    /*줄바꿈없애기*/
    box-shadow: inset 1px 1px 0 hsl(0deg 0% 100% / 10%);    /*그림자*/
}
#wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#header{
    min-height: 50px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #4c4c4c;
    cursor: default;
 }
#container{
    height: 100%;
    flex: 1;
    display: flex;
    margin: 0;
 }

#main_div{
    flex: 1;
}
#room_list{
    width: 300px;
    height: 500px;
    margin: auto;
    background: #FFFFFF;

}
#right_div{
    flex: none;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding:5px;
    background: #333;
}
#myprofile{
    background: white;
    text-align: center;
}
#prof_text{
    background: #FFE08C;
    margin-bottom: 10px;
}
#prof_name{
    background: #FFE08C;
}
#make_room_btn{
    width: 100%;
    height: 40px;
    margin: 5px 0;
}
#make_room_btn:hover{
    border: 5px solid #FFE08C;
}

#f_div{
    width: 300px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 5px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 5px solid #FFE08C;
    border-radius: 15px;
    background: #FFFFFF;
}
#f_table{
    height: 210px;
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 8px;
    text-align: center;

}
#f_table td{
    align-items: center;
    border-bottom: 3px solid #FFE08C;
}
.td1{
    text-align: right;
}
input[type=text]{
    width: 90%;
    height: 100%;
    border: 0;
    outline: none;
    box-shadow: none;
}
input[type=number]{
    width: 90%;
    height: 100%;
    border: 0;
    outline: none;
    box-shadow: none;
}
#chat_div{
    flex: 1;    // 상위 div의 남는 영역 채우기
}
#chatLogs{
    height: 30vh;
    resize: none;
    padding:5px;
    margin-bottom: 5px;
    background:#4c4c4c;
    overflow-y: scroll;
    overflow-x: hidden;
}
#msgForm{
    display: flex;
    height: 30px;
}
#message{
    flex: 1;
    color:black;
    border:0;
}
#msg_bin{
    height: 32px;
}